<div class="main_box clearfix">
  <div class="row">
    <div class="col-md-3 image_box float size">
      <%= attachment_image_tag @character, :character_image, size: '200x200'%>
    </div>
    <div class="col-md-9 menu_box clearfix float">
      <div class="row">
        <div class="col-md-4 black_border1 float size ht red"><p>名前</p></div>
        <div class="col-md-8 black_border3 float size ht red"><p><%= @character.name %></p></div>
        <div class="col-md-4 black_border4 float size ht green"><p>系統</p></div>
        <div class="col-md-8 black_border float size ht green"><p><%= @character.menu %></p></div>
        <div class="col-md-4 black_border4 float size ht blue"><p>念能力</p></div>
        <div class="col-md-8 black_border float size ht blue"><p><%= @character.nenn_name %></p></div>
        <div class="col-md-4 black_border4 float size ht yellow"><p>所属団体</p></div>
        <div class="col-md-8 black_border float size ht yellow">
          <% @character.group_list.each do |group| %>
          <p><%= group %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row detail size2"><p><%= @character.detail %></p></div>
  </div>
</div>
    <%= link_to 'Edit', edit_adcharacter_path(params[:id]) %>
    <%= link_to 'Destroy', adcharacter_path(params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %>
