
<html>
<head>
  <title>HHIndex</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body class="body">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 border">
        <header>
          <%= link_to root_path do %>
          <div class="header_box">
            <%= image_tag("book4.png") %>
            <p>ハンターハンター辞典</p>
          </div>
          <% end %>
          <div class= "clearfix search_box">
              <%= search_form_for @search, url: "characters/search" do |f| %>
            <div class="search_box1">
              <%= f.search_field :name_cont %><%= f.submit "検索" %>
            </div>
            <% end %>
          </div>
        </header><!-- /header -->
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
